In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/tripadvisor.csv")
df.head()

,page,link,user,title,body,rating
0,1,https://www.tripadvisor.es/ShowUserReviews-g31...,Amber C,Best signature cocktails,"The mixologist at the bar, Damien, is masterfu...",5
1,1,https://www.tripadvisor.es/ShowUserReviews-g31...,Paul D,An exceptional over the top dining experience ...,We made 1 mistake. We only booked one night he...,5
2,1,https://www.tripadvisor.es/ShowUserReviews-g31...,Badcopbubby,Flawless!,We ate here 3 of our 5 nights while staying at...,5
3,1,https://www.tripadvisor.es/ShowUserReviews-g31...,Conklin-Villegas,Tastebud feast!,It was our last night at the resort and we wer...,5
4,1,https://www.tripadvisor.es/ShowUserReviews-g31...,Brian F,First rate dining,Fantastic culinary experience and the best res...,5

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   page    50 non-null     int64
 1   link    50 non-null     object
 2   user    50 non-null     object
 3   title   50 non-null     object
 4   body    50 non-null     object
 5   rating  50 non-null     int64
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [10]:
df1 = df.groupby("rating").count().reset_index().iloc[:, :2]
df1.rename(columns={df1.columns[1]: "count"})

In [12]:
df1.columns[1]

'page'

In [13]:
df1.rename(columns={df1.columns[1]: "count"})

   rating  count
0       4      2
1       5     48